@charset "utf-8";

/*
  CIS 155 Project
  Amelia Garripoli
  V3 - 3 June 2019
  V4 - 5 June 2019
*/

html {
	background-color: peru;
}

body {
	width: 90%;
	min-width: 300;
	margin-left: auto;
	margin-right: auto;
}

body > h1 {
	font: Verdana, Arial, sans-serif;
	font-weight: bold;
}

@media only screen and (max-width: 480) {
	body {
		width: 100%;
		min-width: 100%;
	}
}


